version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: wealth_management_db
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - mongodb_data:/data/db

  backend:
    build: ./backend
    container_name: wealth_management_api
    ports:
      - "5000:5000"
    environment:
      PORT: 5000
      MONGODB_URI: mongodb://admin:password@mongodb:27017/wealth-management
      NODE_ENV: development
      JWT_SECRET: your_jwt_secret_key_here
    depends_on:
      - mongodb
    volumes:
      - ./backend/src:/app/src

  frontend:
    build: ./frontend
    container_name: wealth_management_web
    ports:
      - "5173:5173"
    depends_on:
      - backend
    volumes:
      - ./frontend/src:/app/src

volumes:
  mongodb_data:
